<div
  class="w-full h-screen flex flex-col md:flex-row items-center justify-center bg-gray-200"
>
  <!-- Flèche -->
  <div class="mb-4 md:mb-0 md:mr-4">
    <a href="/" class="inline-block">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-9 bg-white text-black rounded-lg cursor-pointer"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18"
        />
      </svg>
    </a>
  </div>

  <!-- Formulaire -->
  <div class="bg-white p-8 rounded-lg shadow-2xl w-full max-w-sm">
    <h2 class="text-2xl font-bold mb-6 text-center">
      <span class="font-anton font-black">Instant</span>
      <span class="font-mistrully font-black ml-2">Crush</span>
    </h2>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <label for="email" class="block mb-2 font-medium text-gray-700"
        >Email</label
      >
      <input
        type="email"
        id="email"
        class="w-full mb-4 px-4 py-2 border border-gray-300 placeholder-gray-400 rounded focus:outline-none focus:ring-2 focus:ring-blue-500"
        placeholder="your.email@example.com"
        required
        name="email"
        [(ngModel)]="user.email"
      />

      <label for="password" class="block mb-2 font-medium text-gray-700"
        >Password</label
      >
      <input
        type="password"
        id="password"
        class="w-full mb-6 px-4 py-2 border placeholder-gray-400 border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500"
        placeholder="••••••••"
        required
        name="password"
        [(ngModel)]="user.password"
      />

      <button
        type="submit"
        [disabled]="!loginForm.form.valid || isLoading"
        class="w-full bg-black text-white py-2 rounded hover:bg-blue-700 transition"
      >
        <span *ngIf="!isLoading" class="font-anton">Login</span>
        <span *ngIf="isLoading" class="font-anton">Loading...</span>
      </button>
    </form>
    <!-- Message d'erreur -->
    <div
      *ngIf="errorMessage"
      class="mt-4 text-red-600 text-sm text-center font-medium"
    >
      {{ errorMessage }}
    </div>
  </div>
</div>
