<div class="min-h-screen flex flex-col">
  <!-- Navbar -->
  <app-navbar class="relative z-20"></app-navbar>

  <!-- Hero Section -->
  <section
    class="relative flex items-center px-4 sm:px-8 md:px-16 lg:px-32 xl:px-[150px] py-16 flex-grow min-h-[400px] overflow-hidden bg-gray-900"
  >
    <!-- Texte à gauche -->
    <div class="relative max-w-xl text-left text-white z-10">
      <h1 class="text-5xl md:text-6xl font-bold font-anton mb-4 mr-6">
        Live your own Life with REAL
      </h1>
      <p
        class="mb-6 font-mistrully text-3xl md:text-5xl transition-opacity duration-500"
        [class.fade]="fade"
        [style.color]="getColor(currentPhrase)"
      >
        {{ currentPhrase }}
      </p>

      <button
        class="bg-blue-600 px-6 py-3 rounded-lg hover:bg-blue-700 transition"
      >
        Search your movie
      </button>
    </div>

    <!-- Grille animée à droite -->
    <div class="flex-1 relative h-[500px] ml-8 opacity-80">
      <div class="grid grid-cols-6 gap-4 animate-scroll-up h-full">
        <div
          *ngFor="let card of cards; let i = index"
          class="w-52 h-80 rounded-xl overflow-hidden shadow-lg transform rotate-3 hover:scale-105 transition-transform duration-300"
          [ngClass]="{
            'mt-0 -translate-x-2': i % 3 === 0,
            'mt-8 -translate-x-4': i % 3 === 1,
            'mt-16 -translate-x-6': i % 3 === 2,
          }"
        >
          <img [src]="card" alt="movie" class="w-full h-full object-cover" />
        </div>
      </div>
    </div>
  </section>
</div>
