<div class="min-h-screen flex flex-col">
  <!-- Navbar -->
  <app-navbar class="relative z-20"></app-navbar>

  <!-- Hero Section -->
  <section
    class="relative flex items-center px-2 sm:px-8 md:px-14 lg:px-32 xl:px-[150px] py-16 md:py-20 flex-grow min-h-[400px] overflow-hidden bg-gray-900"
  >
    <!-- Texte à gauche avec boules animées -->
    <div
      class="relative max-w-xl text-left text-white z-10 translate-x-5 sm:-translate-x-4 md:-translate-x-10 lg:-translate-x-20 xl:-translate-x-22"
    >
      <!-- Background balls with custom neon colors -->
      <div
        class="absolute -top-20 -left-20 w-72 h-72 rounded-full blur-3xl"
        style="background-color: #00e5ff; opacity: 0.4"
      ></div>
      <div
        class="absolute top-10 -right-32 w-80 h-80 rounded-full blur-3xl"
        style="background-color: #ff007a; opacity: 0.4"
      ></div>
      <div
        class="absolute bottom-0 left-1/2 w-96 h-96 rounded-full blur-3xl"
        style="background-color: #ffd600; opacity: 0.3"
      ></div>

      <h1 class="text-5xl md:text-8xl font-bold font-anton mb-4 mr-6 md:pt-30">
        Live your own Life with REAL
      </h1>
      <p
        class="mb-6 font-mistrully text-3xl md:text-8xl transition-opacity duration-500"
        [class.fade]="fade"
        [style.color]="getColor(currentPhrase)"
      >
        {{ currentPhrase }}
      </p>

      <button
        class="bg-blue-600 px-6 py-3 hover:bg-blue-700 rounded-full transition"
      >
        More features
      </button>
    </div>

    <!-- Grille animée à droite -->
    <div class="flex-1 relative h-[500px] ml-8 opacity-80">
      <div class="grid grid-cols-6 gap-4 animate-scroll-up h-[3000px]">
        <div
          *ngFor="let card of cards; let i = index"
          class="w-52 h-80 rounded-xl overflow-hidden shadow-lg transform rotate-3 hover:scale-105 transition-transform duration-300"
          [ngClass]="{
            'mt-0 -translate-x-2': i % 3 === 0,
            'mt-8 -translate-x-4': i % 3 === 1,
            'mt-16 -translate-x-6': i % 3 === 2,
          }"
        >
          <img [src]="card" alt="movie" class="w-full h-full object-cover" />
        </div>
      </div>
    </div>
  </section>
</div>

<!-- Features of the app -->
<section class="py-16 bg-gray-900">
  <div class="max-w-7xl mx-auto px-4">
    <div
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8 justify-items-center"
    >
      <!-- Feature Card 1 -->
      <div
        class="rounded-xl p-6 shadow-lg hover:shadow-2xl transition border border-gray-800 bg-gray-900 flex flex-col items-center"
      >
        <!-- Icone SVG blanche -->
        <div class="flex flex-row space-x-4">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-10 h-10 text-white bg-gray-800 rounded-xl mb-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3 4.5h14.25M3 9h9.75M3 13.5h5.25m5.25-.75L17.25 9m0 0L21 12.75M17.25 9v12"
            />
          </svg>

          <!-- Titre -->
          <h3 class="text-xl mb-2 font-anton text-white">Recommendations</h3>
        </div>
        <p class="text-gray-300">
          Instant Crush intelligently suggests movies tailored to your interests
          and connects you with compatible users to enjoy films together,
          fostering shared experiences and meaningful connections.
        </p>
      </div>

      <!-- Feature Card 2 -->
      <div
        class="rounded-xl p-6 shadow-lg hover:shadow-2xl transition border border-gray-800 bg-gray-900 flex flex-col items-center"
      >
        <div class="flex flex-row space-x-4">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-10 h-10 text-white bg-gray-800 rounded-xl mb-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z"
            />
          </svg>

          <h3 class="text-xl mb-2 font-anton text-white text-center">
            Saving & Sharing
          </h3>
        </div>

        <p class="text-gray-300">
          Easily save your favorite films to watch later or keep track of highly
          anticipated releases based on your personal preferences. Share
          insightful reviews with the community, enhancing your movie discovery
          and viewing experience.
        </p>
      </div>

      <!-- Feature Card 3 -->
      <div
        class="rounded-xl p-6 shadow-lg hover:shadow-2xl transition border border-gray-800 bg-gray-900"
      >
        <div class="flex flex-row space-x-4">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-10 h-10 text-white bg-gray-800 rounded-xl mb-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 1.123 2.994 2.707 3.227 1.129.166 2.27.293 3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 1.14 0 0 1 .865-.501 48.172 48.172 0 0 0 3.423-.379c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z"
            />
          </svg>
          <h3 class="text-xl mb-2 font-anton text-white text-center">
            Official Review
          </h3>
        </div>

        <p class="text-gray-300">
          Access verified movie reviews from official sources such as IMDb, The
          Movie Database, and Criticker. Reviews are contributed by registered
          users on these platforms, and you can also join to share your own
          insights.
        </p>
      </div>

      <!-- Feature Card 4 -->
      <div
        class="rounded-xl p-6 shadow-lg hover:shadow-2xl transition border border-gray-800 bg-gray-900"
      >
        <div class="flex flex-row space-x-4">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-10 h-10 text-white bg-gray-800 rounded-xl mb-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 0 0 2.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 0 0-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25ZM6.75 12h.008v.008H6.75V12Zm0 3h.008v.008H6.75V15Zm0 3h.008v.008H6.75V18Z"
            />
          </svg>
          <h3 class="text-xl mb-2 font-anton text-white text-center">
            Release & Casting
          </h3>
        </div>
        <p class="text-gray-300">
          Explore detailed information about a film, including its full cast so
          you can find your favorite actors directors, crew, genres, and
          available languages, along with official release dates.
        </p>
      </div>

      <!-- Feature Card 4 -->
      <div
        class="rounded-xl p-6 shadow-lg hover:shadow-2xl transition border border-gray-800 bg-gray-900"
      >
        <div class="flex flex-row space-x-4">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-10 h-10 text-white bg-gray-800 rounded-xl mb-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m15.75 10.5 4.72-4.72a.75.75 0 0 1 1.28.53v11.38a.75.75 0 0 1-1.28.53l-4.72-4.72M4.5 18.75h9a2.25 2.25 0 0 0 2.25-2.25v-9a2.25 2.25 0 0 0-2.25-2.25h-9A2.25 2.25 0 0 0 2.25 7.5v9a2.25 2.25 0 0 0 2.25 2.25Z"
            />
          </svg>

          <h3 class="text-xl mb-2 font-anton text-white text-center">
            Own movie
          </h3>
        </div>
        <p class="text-gray-300">
          As a filmmaker, you can showcase your own movies by providing detailed
          information, including synopsis, cast, crew, and production notes.
          Share your work with the community and receive constructive ratings
          and reviews from viewers, fostering engagement and feedback for your
          creations.
        </p>
      </div>

      <!-- Feature Card 6 -->
      <div
        class="rounded-xl p-6 shadow-lg hover:shadow-2xl transition border border-gray-800 bg-gray-900"
      >
        <div class="flex flex-row space-x-4">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-10 h-10 text-white bg-gray-800 rounded-xl mb-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z"
            />
          </svg>

          <h3 class="text-5xl mb-2 font-mistrully text-white text-center">
            Crush
          </h3>
        </div>
        <p class="text-gray-300">
          Discover and connect with individuals who share your cinematic tastes,
          allowing you to be matched with like minded movie enthusiasts for a
          personalized film-watching experience together.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="bg-blue-500 relative overflow-visible">
  <div
    class="max-w-3xl mx-auto px-4 py-16 grid grid-cols-1 md:grid-cols-2 gap-8 items-start"
  >
    <!-- Texte à gauche -->
    <div class="text-center md:text-left max-w-lg mx-auto md:mx-0">
      <h2 class="text-4xl md:text-5xl font-bold mb-4 text-gray-900">
        Always be fresh with updated movies
      </h2>
      <p class="text-white mb-8">
        Stay tuned with the latest movie releases and trends, ensuring you never
        miss out on the next big hit or hidden gem.
      </p>
    </div>

    <!-- Liste de films à droite (responsive & scrollable si besoin) -->
    <div class="relative w-full mx-auto md:mx-0 min-h-[24rem]">
      <ng-container *ngFor="let movie of moviesTemplate; let i = index">
        <div
          class="absolute flex items-center bg-white rounded-lg overflow-hidden shadow-lg"
          [ngStyle]="{
            top: i * 1.5 + 'rem',
            left: i * 1.5 + 'rem',
            'z-index': 10 - i,
          }"
        >
          <img
            [src]="movie.imageUrl"
            [alt]="movie.title"
            class="w-32 h-36 object-cover sm:w-28 sm:h-32 md:w-32 md:h-36"
          />
          <span
            class="ml-4 text-gray-900 font-anton font-semibold text-sm sm:text-xs md:text-lg truncate"
          >
            {{ movie.title }}
          </span>
          <!-- Rating block -->
          <div class="flex items-center space-x-2 ml-auto mr-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-4 h-4 sm:w-3 sm:h-3 md:w-5 md:h-5 text-yellow-400"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.286 3.951a1 1 0 00.95.69h4.148c.969 0 1.371 1.24.588 1.81l-3.36 2.44a1 1 0 00-.364 1.118l1.286 3.951c.3.921-.755 1.688-1.538 1.118l-3.36-2.44a1 1 0 00-1.176 0l-3.36 2.44c-.783.57-1.838-.197-1.538-1.118l1.286-3.951a1 1 0 00-.364-1.118L2.027 9.378c-.783-.57-.38-1.81.588-1.81h4.148a1 1 0 00.95-.69l1.286-3.951z"
              />
            </svg>
            <span
              class="text-gray-700 font-semibold text-xs sm:text-[10px] md:text-sm"
              >{{ movie.rate }}</span
            >
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</section>

<section class="relative bg-yellow-500 py-16 overflow-hidden">
  <!-- Grand coeur en arrière-plan -->
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="absolute -left-10 top-[75%] transform -translate-y-1/2 w-[40vw] h-[40vw] text-red-600 opacity-30"
    fill="currentColor"
    viewBox="0 0 24 24"
  >
    <path
      d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 
         4.42 3 7.5 3c1.74 0 3.41 0.81 4.5 2.09C13.09 3.81 
         14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 
         6.86-8.55 11.54L12 21.35z"
    />
  </svg>

  <!-- Texte à droite -->
  <div class="relative max-w-4xl mx-auto px-4 flex justify-end items-center">
    <div class="max-w-md text-left">
      <h2 class="text-3xl md:text-4xl font-bold mb-4 text-gray-900">
        Join the <span class="font-anton text-gray-900">Instant</span>
        <span class="ml-1 font-mistrully text-gray-900">Crush</span> Community
      </h2>
      <p class="text-gray-900 text-base md:text-lg">
        Connect with fellow movie enthusiasts, share your thoughts, and discover
        new films to watch together.
      </p>
    </div>
  </div>
</section>
