.fade {
  opacity: 0;
}

@keyframes scroll-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  } /* Ajuste selon la hauteur du contenu */
}

.animate-scroll-up {
  animation: scroll-up 40s linear infinite;
}
