<div class="bg-gray-900 min-h-screen flex flex-col">
  <app-navbar></app-navbar>
  <section class="grid grid-cols-1 md:grid-cols-2 flex-1 gap-6 mt-30 px-6">
    <!-- Left side -->
    <div class="flex flex-col items-center justify-center text-center">
      <h1 class="text-3xl md:text-5xl text-white font-anton mb-4">
        Movies <span class="font-mistrully">List</span>
      </h1>
      <p class="text-white mb-2">Explore our extensive collection of movies.</p>
      <p class="text-gray-400 mt-4">
        Discover and enjoy more by joining
        <span class="font-mistrully">Us</span>.
      </p>
    </div>

    <!-- Right side -->
    <div class="bg-gray-800 rounded-2xl shadow-lg p-6">
      <h2 class="text-2xl font-semibold text-white mb-6 text-center">
        {{
          searchQuery
            ? "Movies matched with " + searchQuery
            : "Suggested Movies"
        }}
      </h2>

      <!-- Movies list -->
      <div class="relative flex flex-col gap-6 max-h-[600px] overflow-hidden">
        <!-- Liste des films -->
        <!-- Skeleton Loader -->
        <div *ngIf="loading" class="flex flex-col gap-6 p-4">
          <div
            *ngFor="let skel of [1, 2, 3, 4, 5]"
            class="h-64 rounded-xl bg-gray-200 animate-pulse"
          ></div>
        </div>

        <!-- Liste des films -->
        <div
          *ngIf="!loading && filteredMovies.length > 0"
          class="flex flex-col gap-6 p-4"
        >
          <div
            *ngFor="let movie of filteredMovies"
            class="relative bg-gray-700 rounded-xl shadow hover:shadow-lg transition overflow-hidden flex"
          >
            <img
              [src]="movie.image.url"
              [alt]="movie.title"
              class="w-32 h-48 object-cover"
            />
            <div class="flex-1 p-4 flex flex-col justify-end relative">
              <h3 class="text-xl font-bold text-white mb-2">
                {{ movie.primary_title }}
              </h3>
              <p class="text-gray-300 text-sm line-clamp-3">
                {{ movie.description }}
              </p>
            </div>
          </div>
        </div>

        <!-- Message si aucun film trouvé -->
        <div
          *ngIf="!loading && moviesLoaded && filteredMovies.length === 0"
          class="text-white text-center p-4"
        >
          No movies matched with this title search.
        </div>

        <!-- Effet "fade" en bas -->
        <div
          class="absolute bottom-0 left-0 w-full h-32 bg-gradient-to-t from-gray-900/90 to-transparent flex items-end justify-center"
        >
          <p
            class="text-white text-sm bg-black/50 px-4 py-2 rounded-lg backdrop-blur"
          >
            Register for more movies
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
