<div class="min-h-screen bg-gray-900 flex flex-col">
  <!-- Navbar -->
  <app-navbar></app-navbar>

  <!-- Hero / Contact Section -->
  <section class="grid grid-cols-1 md:grid-cols-2 flex-1 gap-8 p-8 mt-25">
    <!-- Left Column: Contact Info -->
    <div
      class="bg-gray-800 flex flex-col items-center justify-center p-8 rounded-lg"
    >
      <h1 class="text-3xl md:text-5xl text-white text-center font-anton mb-4">
        About <span class="font-mistrully">Us</span>
      </h1>
      <p class="text-white text-center mb-2">
        Discover more about our mission and how we can help you.
      </p>
      <p class="text-gray-400 text-center mt-4">
        Or register on our platform to discover and live your
        <span class="font-mistrully text-2xl">Movies</span>.
      </p>
    </div>

    <!-- Right Column: Useful Links -->
    <div class="bg-gray-800 p-6 rounded-lg shadow-md">
      <h2 class="text-2xl text-white mb-4 text-center">Discover</h2>
      <ul class="space-y-2 text-gray-500">
        <li class="flex items-center">
          <!-- Check Icon -->
          <svg
            class="w-5 h-5 text-green-500 mr-2"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M5 13l4 4L19 7"
            />
          </svg>
          Movies
        </li>

        <li class="flex items-center">
          <svg
            class="w-5 h-5 text-green-500 mr-2"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M5 13l4 4L19 7"
            />
          </svg>
          Recommendations
        </li>

        <li class="flex items-center">
          <svg
            class="w-5 h-5 text-green-500 mr-2"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M5 13l4 4L19 7"
            />
          </svg>
          Your Profile
        </li>
      </ul>
    </div>
  </section>
</div>
<p>about.component works!</p>
